body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.profile-card {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.profile-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 270px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.login {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.contact-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #0056b3;
}